.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  position: relative;
  min-height: 50%;
  min-width: 50%;
  max-width: 70%;
  background-color: rgba(22, 58, 63);
  color: white;
  padding: 0 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
